CREATE TABLE pacients (
    id               INTEGER PRIMARY KEY AUTOINCREMENT,
    name             VARCHAR(100) NOT NULL,
    sex              VARCHAR(1)   NOT NULL,
    year_of_birthday INTEGER      NOT NULL
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE appointments (
    id                      INTEGER PRIMARY KEY AUTOINCREMENT,
    date                    DATE    NOT NULL,
    duration_of_the_disease INTEGER NOT NULL,
    pacient_id              INTEGER NOT NULL,
    FOREIGN KEY (pacient_id) REFERENCES pacients (id)
);
CREATE TABLE eyes (
    id                                        INTEGER PRIMARY KEY AUTOINCREMENT,
    eye                                       VARCHAR(2)  NOT NULL,
    appointment_id                            INTEGER     NOT NULL,
    date                                      DATE        NOT NULL,
    duration_of_the_disease                   INTEGER     NOT NULL,
    topkon                                    BOOLEAN     NOT NULL,
    optopol                                   BOOLEAN     NOT NULL,
    areds                                     VARCHAR(10) NOT NULL,
    refraction                                VARCHAR(10) NOT NULL,
    type_of_neovascularization                VARCHAR(10) NOT NULL,
    "đťđÜđ×đŚ"                                    NUMERIC     NOT NULL,
    choroidal_thickness_center                NUMERIC     NOT NULL,
    cts_foveola                               NUMERIC     NOT NULL,
    cts_sup_inner_fovea                       NUMERIC     NOT NULL,
    cts_sup_out_fovea                         NUMERIC     NOT NULL,
    total_volume                              NUMERIC     NOT NULL,
    average_volume                            NUMERIC     NOT NULL,
    rpe_status                                NUMERIC     NOT NULL,
    rpe_localisation                          NUMERIC     NOT NULL,
    cme_localisation                          NUMERIC     NOT NULL,
    serouz_rpe_detachment_localisation        NUMERIC     NOT NULL,
    serouz_rpe_detachment_width               NUMERIC     NOT NULL,
    serouz_rpe_detachment_height              NUMERIC     NOT NULL,
    serouz_rpe_detachment_area                NUMERIC     NOT NULL,
    hemorrhagic_rpe_detachment_localisation   NUMERIC     NOT NULL,
    hemorrhagic_rpe_detachment_width          NUMERIC     NOT NULL,
    hemorrhagic_rpe_detachment_heidgt         NUMERIC     NOT NULL,
    hemorrhagic_rpe_detachment_area           NUMERIC     NOT NULL,
    fibrovascular_rpe_detachment_localisation NUMERIC     NOT NULL,
    fibrovascular_rpe_detachment_width        NUMERIC     NOT NULL,
    fibrovascular_rpe_detachment_heidgt       NUMERIC     NOT NULL,
    fibrovascular_rpe_detachment_area         NUMERIC     NOT NULL,
    drusenoid_detachment_rpe_localisation     NUMERIC     NOT NULL,
    drusenoid_detachment_rpe_width            NUMERIC     NOT NULL,
    drusenoid_detachment_rpe_height           NUMERIC     NOT NULL,
    drusenoid_detachment_rpe_area             NUMERIC     NOT NULL,
    druses_localisation                       NUMERIC     NOT NULL,
    druses_weigt                              NUMERIC     NOT NULL,
    druses_heigt                              NUMERIC     NOT NULL,
    dzuses_area                               NUMERIC     NOT NULL,
    fluid_under_rpe_area                      NUMERIC     NOT NULL,
    fluid_under_rpe_localisation              NUMERIC     NOT NULL,
    ez_status                                 NUMERIC     NOT NULL,
    ez_localisation                           NUMERIC     NOT NULL,
    myoidnz_status                            NUMERIC     NOT NULL,
    myoidnz_localisation                      NUMERIC     NOT NULL,
    rne_detachment_localisation               NUMERIC     NOT NULL,
    rne_detachment_width                      NUMERIC     NOT NULL,
    rne_detachment_heigt                      NUMERIC     NOT NULL,
    rne_detachment_area                       NUMERIC     NOT NULL,
    hyperreflective_material_localisation     NUMERIC     NOT NULL,
    hyperreflective_material_area             NUMERIC     NOT NULL,
    FOREIGN KEY (appointment_id) REFERENCES appointments (id)
);
